.cardWrapper {
  margin-bottom: 20px;
}
.cardLeft {
  margin-right: auto;
  max-width: 100%;
}
.cardRight {
  margin-left: auto;
  max-width: 100%;
}
@media (max-width: 768px) {
  .cardLeft,
  .cardRight {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .card-title {
    order: -1; /* 移动标题到前面 */
  }
}
.textTruncate4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @media (max-width: 576px) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.textTruncate2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon {
  width: 25px;
  height: 23px;
  /* vertical-align: middle; */
}
.color2 {
  color: #929311;
}
.color2:hover{
  color: var(--secondary-3);
}
.color1 {
  color: #389b87;
}
.color1:hover {
  color: var(--secondary-3);
}

.color3:hover{
  color: var(--secondary-3);
}
.order1 {
  order: 1;
  @media (max-width: 768px) {
    order: 0;
  }
}
.color4{
  color: red;
}
.order0 {
  order: 0;
}

/* filter */

/* .filterControl1 {
  padding-left: 20%;
  padding-right: 5%;
  @media (max-width: 992px) {
    padding-left: 5%;
  }
} */

.blogFilter{
  background: linear-gradient(0deg, #fa8752 0%, #fdb524 100%);
  margin-block:0 ;
  border-radius: 20px;
  padding-left: 5px;
  padding-bottom: 40px;
  @media (max-width: 992px) {
    /* margin-top: 20px; */
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 768px) {
    /* margin-top: 20px; */
    
    padding-bottom: 20px;
  }

}
.filterWidth1 {
  margin-top: 20px;
  width: 100%;
  @media (max-width: 768px) {
    /* margin-top: 20px; */
    width: 80%;
    margin-inline:auto ;
  }
}

.filterControl2 {
  width: 40%;
  height: 50%;
}

.h150{
  height: 100px;
  @media (max-width: 992px) {
    height: 150px;
  }

}
.goCreate{
  position: sticky;
  top: 100px;
  left: 50px;
  color: var(--secondary-3);
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  /* margin-left: auto; */
}
.marginInline{
  @media (max-width: 576px){

    margin: 140px; ;
  }
}

.blogcategory {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s;
  @media (max-width: 576px){

    width: 80%;
    margin: 10% 10% ;
  }
}

.blogBody{
  background: rgb(255, 255, 255);
}
.blogBodyHead{
  position: relative;
  padding-top: 40px;
}
.starBox{
  z-index: 1;
  /* width: 40px; */
  position: absolute;
  top: 20px;
  right: 50%;
  // display: none;
  /* background-color: rgba(182, 0, 0, 0.8); */
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* padding: 5px; */
  /* border-radius: 50%; */
  cursor: pointer;
  @media (max-width: 768px){

    right: calc(50% - 25px)
  }
}

.starBoxShow {
  z-index: 1;
  /* width: 40px; */
  position: absolute;
  top: 20px;
  right: 50%;
  // display: none;
  /* background-color: rgba(182, 0, 0, 0.8); */
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  /* padding: 5px; */
  /* border-radius: 50%; */
  cursor: pointer;
  @media (max-width: 768px){

    right: calc(50% - 25px)
  }
 
}
