.span1{
  padding-inline: 20px;
background: #FFF;
cursor: pointer;;
}
.span2{
  padding-inline: 20px;
background: var(--primary-1);
color: #fff;
cursor: pointer;;
}

.likeContainer{
  background-color: var(--secondary-3);
}

.cc{
  padding-left: 0;
  padding-right: 0;

}