.box {
  background-color: rgba(146, 189, 205, 0.485);
  padding: 20px;
  & div {
    margin-bottom: 10px;
  }
}

.detailRight {
  width: 70%;
  padding: 20px;
  padding-inline-end: 100px;
}

.detailLeft {
  width: 30%;
  background-color: rgba(255, 253, 253, 0.46);
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
}
