@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.body {
  background-color: var(--secondary-4, #fffcf0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberCard {
  display: flex;
  max-width: 1500px;
  padding: 30px 0px;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
.memberAside {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  background-color: var(--white, #fff);
  box-shadow: 3px 3px 5px var(--grey-600, #8c8c8c);
  border-radius: 10px;
}
.memberAsideList {
  border-radius: 10px;
  display: flex;
  height: 50.626px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--white, #fff);
  transition: background-color 0.3s, color 0.3s;
}
.memberAsideList:hover {
  border: 1px solid var(--primary-1); /* 明確指定邊框寬度、樣式和顏色 */
  background: var(--white);
  color: var(--primary-1);
}

.memberAsideList.clicked {
  display: flex;
  height: 50.626px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--primary-1, #389b87); /* 點擊後的顏色，可以根據需要修改 */
  color: var(--white, #fff);
}
.ListTop {
  display: flex;
  height: 50.626px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--white, #fff);
  border-radius: 10px 10px 0px 0px;
  // background: var(--primary-1, #389B87);
}
.ListButton {
  display: flex;
  height: 50.626px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--white, #fff);
  border-radius: 0px 0px 10px 10px;
  // background: var(--primary-1, #389B87);
}
.memberAsideList.clicked .memberAsideListIcon {
  filter: brightness(0) invert(1);
}
.memberAsideList.clicked .memberAsideListText {
  color: var(--white, #fff); /* 點擊後的文字顏色 */
}
.memberAsideListIcon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0px 1px;
  align-items: flex-start;
  gap: 10px;
  transition: filter 0.3s;
}
.memberAsideListText {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary-1, #389b87);
  text-decoration: none;
  transition: color 0.3s;
}

.memberFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 95px;
  flex: 1 0 0;
}
.infoFrame {
  display: flex;
  min-height: 600px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;
  flex-wrap: wrap;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.collectInfoFrame {
  display: flex;
  flex-direction: row; /* 水平排列 */
  flex-wrap: wrap; /* 允許換行 */
  justify-content: center; /* 整體置中 */
  min-height: 600px;
  padding: 10px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.memberList {
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 90px;
  align-self: stretch;
}
.memberListLabel {
  color: var(--grey-800, #575757);

  /* h5 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.memberListInput {
  color: var(--grey-800, #575757);
  border: none;
  /* h5 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btnSquare {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-3, #fdaf17);
  background: #fff;

  color: var(--secondary-3, #fdaf17);
  text-align: center;
  /* p */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
}

.btnSquare:hover {
  border: 1px solid var(--white, #fff);
  background: var(--secondary-3, #fdaf17);
  color: var(--white, #fff);
}
.collectCardFrame {
  display: flex;
  position: relative;
}
.collectCross {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  border: 1px solid var(--secondary-3, #fdaf17);
  color: var(--secondary-3, #fdaf17);
  width: 20px;
  height: 20px;
  background-color: var(--white, #fff);
}
.collectCross:hover {
  border: 1px solid var(--white, #fff);
  background-color: var(--secondary-3, #fdaf17);
  color: var(--white, #fff);
}
.collectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  // flex: 1 1 calc(30% - 20px); /* 調整為每行 3 個卡片，減去間距 */
  box-sizing: border-box; /* 確保內邊距和邊框包含在寬度內 */
  margin: 10px; /* 設置卡片之間的間距 */
}

.chiiListImage {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background: #d9d9d9;
}

.chiiCardBody {
  display: flex;
  width: 300px;
  // height: 120px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.chiiCardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.chiiLocationDetail {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.chiiLocationDetailCity {
  display: flex;
  padding: 5px 13px;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: var(--primary-1, #389b87);
}
.chiiLocationDetailCityIcon {
  width: 9px;
  height: 14px;
  color: var(--white, #fff);
}
.chiiLocationDetailCityText {
  overflow: hidden;
  color: var(--white, #fff);
  text-overflow: ellipsis;

  /* p */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chiiStar {
  display: flex;
  padding: 5px 13px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: var(--primary-1, #389b87);
}
.chiiStarIcon {
  width: 16px;
  height: 14px;
  color: var(--white, #fff);
}
.chiiStarPoint {
  color: var(--white, #fff);
  /* p */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chiiLocationName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  // -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
}
.chiiLocationName:hover {
  color: var(--secondary-3, #fdaf17);
}

// order
.infoFrame table {
  /* h4 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}
.infoFrame th {
  vertical-align: middle;
  text-align: center;
  color: var(--grey-800, #575757);
  background-color: var(--grey-400, #c4c4c4);
}
.infoFrame td {
  vertical-align: middle;
  text-align: center;
  color: var(--grey-800, #575757);
  border-bottom: var(--grey-400, #c4c4c4) 1px solid;
  font-size: 20px;
}
.orderTr {
  border-radius: 10px;
}

.blogIcon:hover {
  color: var(--secondary-3, #fdaf17);
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  // width: 100vw;
  background-color: var(--secondary-4, #fffcf0);
}

.loadingPageImg {
  animation: bounce 1.5s infinite;
  background-color: var(--secondary-4, #fffcf0);
}

.couponInfoFrame {
  display: flex;
  flex-direction: row; /* 水平排列 */
  flex-wrap: wrap; /* 允許換行 */
  justify-content: flex-start; /* 新的一行從左邊開始 */
  min-height: 600px;
  padding: 10px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.couponFrameStart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%; /* 確保內層容器的寬度 */
}

.couponFrame {
  display: flex;
  width: 450px;
  height: 128px;
  padding: 20px;
  margin: 10px auto; /* 水平居中 */
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-3, #fdaf17);
  background: var(--white, #fff);
}

.couponFrameGrey {
  background-color: #d3d3d3; /* 灰色背景 */
  color: #999999; /* 灰色文字 */
  border: 1px solid #999999; /* 灰色邊框 */
}

.couponFrameCircle {
  display: flex;
  padding: 10px;
  width: 107px;
  height: 107px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  border: 1px solid var(--secondary-3, #fdaf17);
}
.couponFrameContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  h3 {
    color: var(--secondary-3, #fdaf17);
  }
  h5 {
    color: var(--grey-600, #8c8c8c);
  }
  p {
    color: var(--grey-600, #8c8c8c);
  }
}
.couponFrameCircleImg {
  border-radius: 50%;
}

.achieveFrame {
  display: flex;
  height: 152px;
  padding: 20px;
  align-items: center;
  margin: 10px;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  border: 2px solid var(--secondary-3, #fdaf17);
  // background: var(--grey-400, #c4c4c4);
  transition: filter 0.3s;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
}
.achieveFrameCircle {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 120px;
  fill: var(--white, #fff);
  stroke-width: 1px;
  border: 2px solid var(--secondary-3, #fdaf17);
  border-radius: 50%;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
}

.achieveFrameContent {
  display: flex;
  width: 322px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  h3 {
    color: var(--grey-800, #575757);
  }
  h5 {
    color: var(--grey-600, #8c8c8c);
  }
}
.achieveFrameText {
  display: flex;
  width: 322px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.achieveFrameImage {
  fill: var(--white, #fff);
}

.grayScale {
  filter: grayscale(100%);
}
