
.pageBtn{
  display: flex;
  justify-content: center;
}

.listContainer{
  padding: 0px 60px;
}


.section02,.myCardList {
  width: 100%;
  display: flex;
  padding: 80px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.sort{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(253, 176, 23, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.sort p,.sort label{
  color: var(--white);
  font-weight: 600;
}
.types{
  display: flex;
  flex-direction: column;

}
.price input{
  width: 100%;
}
.keyword input{
  width: 100%;
}
/* .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
} */
.orderByNone{
  display: none;
}
.card {
  --bs-card-bg: transparent;
  --bs-card-border-color: transparent;
  
}
.cardImage {
  border-radius: 10px;
  width: 100%;
  
}

.cardBody {
  display: flex;
  padding: 15px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
}

.cardBody a {
  text-decoration: none;
  color: var(--black);
}

.cardBody a:hover {
  color: var(--secondary-3);
}

.cardTags {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.cardTagLocation {
  color: var(--white);
  border-radius: 10px;
  background: var(--primary-1, #389b87);
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  align-items: center;
  gap: 5px;
}

.cardTagStar {
  height: 34px;
  color: var(--white);
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: var(--primary-1, #389b87);
}

.myCardList .card .cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.decorateIndex {
  width: 100%;
  position: absolute;
  top: 920px;
}

@media (max-width: 576px) {
  .searchBarSort{
    display: flex;
  }
  .sort{
    display: none;
  }

  .searchBar{
    justify-content: start;
  }
  .productSearchForm{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 40px 30px;
  }

  .calendarTeam,.goWhereTeam{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .searchBarSort{
    flex-direction: column;
    display: flex;
  }
  .searchBarSort p,.searchBarSort label {
    font-size: var(--h5);
    font-weight: var(--h4h5-weight);
  }
  .orderByNone{
    display: flex;
    margin-block: 10px;
    justify-content: end;
    gap: 5px;
  }
  .keyword,.price{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
}
