.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--gray-800); /* 更改導航按鈕的顏色 */
  transition: 0.5s;
  padding-inline: 50px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--gray-400); /* 更改為鼠標懸停時的顏色 */
}

.mySwiper1 {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.mySwiper2 {
  .swiper {
    width: 800px;
  }
  .swiper-slide {
    height: 100%;
  }
}

.mySwiper3 {
  height: 810px;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-pagination-bullet-active {
  background: var(--secondary-4);
}

/* 添加 hover 效果 */

@media (max-width: 576px) {
  .mySwiper2 {
    display: none;
    .swiper {
      display: none;
    }
    .swiper-slide {
      display: none;
    }
  }
  .mySwiper3 {
    height: auto;
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
