.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--gray-800); /* 更改導航按鈕的顏色 */
  transition: 0.5s;
  padding-inline: 50px;
}

/* 添加 hover 效果 */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--gray-400); /* 更改為鼠標懸停時的顏色 */
}

/* 調整導航按鈕的圖標大小 */
.swiper-button-next::after,
.swiper-button-prev::after {
}
// .paginationButtons {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 1rem; /* 與 Swiper 之間的間距 */
// }

// .paginationButtons button {
//   margin: 0 5px;
//   padding: 0.5rem 1rem;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .paginationButtons button.active,
// .paginationButtons button:hover {
//   background-color: #007bff;
//   color: #fff;
// }
