.navbar {
  position: fixed;
  top: 0;
  z-index: 2;

  width: 100%;
  background: linear-gradient(0deg, #fcf5dd 0%, #fffcf0 100%);
  // background-color: var(--secondary-4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease; /* 平滑过渡效果 */
}
.myContainer {
  padding: 0px 100px;
  height: 70px;
}

.HomepageName {
  color: var(--secondary-3);
  position: relative;
  margin-right: 3rem;
}

.HomepageName::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  background-color: var(--secondary-3);
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}
.HomepageName:hover::after {
  width: 100%;
}

.navMenuA {
  color: var(--black);
}
.navMenuA:hover {
  color: var(--secondary-3);
}

.homeLogo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 576px) {
  .navbar {
    background-color: var(--secondary-3);
  }
  .myContainer {
    padding-inline: 24px;
  }
  .HomepageName {
    color: var(--black);
  }
  .btnOrangePc {
    background-color: var(--white);
    color: var(--secondary-3);
  }
  .btnOrangePc:hover {
    background-color: var(--secondary-3);
    color: var(--white);
    border: 2px solid var(--white);
  }
  .navA {
    border: 2px solid var(--white);
    padding: 5px 20px;
  }
  .homeLogo {
    display: none;
  }
  .iconOpensuse {
    display: none;
  }
  .iconShoppingCart {
    display: none;
  }
  .navMenuA {
    color: var(--black);
  }
  .navMenuA:hover {
    color: var(--secondary-3);
  }
  .navA {
    color: var(--white);
  }
  .navA:hover {
    color: var(--secondary-3);
  }
}
