.footer {
  position: relative;
  background-color: #f0f0f0;
  padding: 20px 0;
}

.footerTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.containerFluid {
  padding-inline: 48px;
}

.footerLink ul {
  list-style-type: none;
  padding: 0;
}
.footerLink a {
  color: var(--gray-600);
}
.footerLink a:hover {
  color: var(--secondary-3);
}

.footerLogoWhite {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.footerLink ul li {
  margin-top: 5px;
}
.frog {
  position: absolute;
  right: 5%;
  width: 200px;
  z-index: 1;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policyText {
  display: flex;
  gap: 10px;
  text-align: center;
}

.policyText a {
  color: var(--gray-600);
}
.policyText a:hover {
  color: var(--secondary-3);
}

.footerCopyright p {
  text-align: right;
  font-size: 14px;
  color: var(--gray-600);
}
.socialField {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 10px;
  align-items: center;
}
.iconFB,
.iconIg,
.iconEmail {
  cursor: pointer;
}

/* 媒體查詢 */
@media (max-width: 768px) {
  .containerFluid {
    padding-inline: 48px;
  }
  .footer-top {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .footerLink {
    order: 2;
  }
  .footerLink ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footerLink ul li {
    margin-top: 10px;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerLogoWhite {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    margin: 0 auto 20px 0; /* 在左側留空間 */
    align-self: flex-start; /* 將 logo 放置在左方 */
  }
  .frog {
    display: none;
  }
  .mountains {
    display: none;
  }
  .footerPolicy {
    order: 2;
  }
  .policyText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerCopyright {
    text-align: center;
    margin-top: 10px;
    order: 3;
  }
  .socialField {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    align-self: center; /* 將 logo 放置在左方 */
    order: 1;
    margin-bottom: 10px;
  }
}
